pyrogram<=2.0.33
tgcrypto<=1.2.3
aiohttp==3.9.5
python-dotenv<=0.20.0
motor==3.4.0
aiofiles==23.2.1
dnspython==2.6.1
apscheduler==3.10.4
requests==2.32.3
psutil==6.0.0
pyromod==3.1.6
cython==3.0.10
attrs>=17.3.0
charset-normalizer<3.0,>=2.0
multidict<7.0,>=4.5
async-timeout<5.0,>=4.0.0a3
yarl<2.0,>=1.0
frozenlist>=1.1.1
aiosignal>=1.1.2
pymongo<5,>=4.5
six>=1.4.0
pytz
tzlocal!=3.*,>=2.0
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
pyaes==1.6.1
pysocks==1.7.1
